<th @onclick="Click" class="@(Sortable ? "clickable" : "")">
    <div class="d-flex justify-content-between">

        @if (Sortable)
        {
            if (Table.CurrentSorting.column == this)
            {
                <div>@(Label ?? Field)<i class="ml-2 fas fa-fw @(Table.CurrentSorting.descending ? "fa-sort-down" : "fa-sort-up")"></i></div>
            }
            else
            {
                <div>@(Label ?? Field)<span class="ml-2 fas fa-fw fa-sort sortable"></span></div>
            }
        }
        else
        {
            @(Label ?? Field)
        }

        @if (Filterable)
        {
            <div class="dropdown ml-2">
                <a class="clickable" @onclick=@(_ => show = !show)><span class="fas fa-sm fa-filter"></span></a>
                <div class="dropdown-menu @(show ? "show" : "")">
                    <form>
                        <div class="dropdown-item" @onclick="All">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" checked="@all">
                                <label class="form-check-label">Select All</label>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        @foreach (var filter in filters)
                        {
                            <div class="dropdown-item" @onclick=@(_ => Filter(filter.Key))>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" checked="@filter.Value">
                                    <label class="form-check-label">@filter.Key</label>
                                </div>
                            </div>
                        }
                    </form>
                </div>
            </div>
        }
    </div>
</th>
