@typeparam TItem

@if (items == null)
{
    @Loading
}
else
{
    <CascadingValue Value=@this>
        <table class="table-net table @(Small ? "table-sm" : "") @(Dark ? "table-dark" : "") @(Striped ? "table-striped" : "") @(Hover ? "table-hover" : "") @(Rounded ? "rounded" : "")">
            <thead class="@(HeadDark ? "thead-dark" : "")">
                <tr>@Header</tr>
            </thead>
            <tbody>
                @if (first)
                {
                    first = false;
                    StateHasChanged();
                }
                else
                {
                    @foreach (var item in Data)
                    {
                        if (OnRowClick.HasDelegate)
                        {
                            <tr @key=item class="clickable" @onclick=@(async () => await OnRowClick.InvokeAsync(item))>@Row(item)</tr>
                        }
                        else
                        {
                            <tr @key=item>@Row(item)</tr>
                        }
                    }
                }
            </tbody>
        </table>
    </CascadingValue>
}
