@typeparam TItem

@if (items == null)
{
    @Loading
}
else
{
    <CascadingValue Value="@this">
        <table class="table @(Small ? "table-sm" : "") @(Dark ? "table-dark" : "") @(Striped ? "table-striped" : "") @(Hover ? "table-hover" : "") @(Rounded ? "rounded" : "")">
            <thead class="@(HeadDark ? "thead-dark" : "")">
                <tr>@Header</tr>
            </thead>
            <tbody>
                @foreach (var item in Data)
                {
                    @if (OnRowClick.HasDelegate)
                    {
                        <tr class="clickable" @onclick="@(async () => await OnRowClick.InvokeAsync(item))">@Row(item)</tr>
                    }
                    else
                    {
                        <tr>@Row(item)</tr>
                    }
                }
            </tbody>
        </table>
    </CascadingValue>
}
